/* Animations */
@keyframes animateTarget{
  to {
      transform: translateY(-400px) rotate(90deg);
  }
}
@keyframes animateTarget2{
  to {
      transform: translateY(400px) rotate(360deg);
  }
}
@keyframes animateTarget3 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes animateTarget4 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

/* Reset */

*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('images/Background_white.webp');
  background-position: center;
  background-size: cover;
  
}
/* Container de jeu */
.game_infos{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}
.container{
    height: 400px;
    width: 500px;
    border: 1px solid grey;
    cursor: crosshair;
    position : relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    background-image: url('images/Background-black.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Cibles */
#target{
    height: 40px;
    width: 40px;
    position: absolute;
    transition: 0.25s ease-out;
    animation: animateTarget4 10s infinite;
}
#badtarget{
    height: 40px;
    width: 40px;
    position: absolute;
    transition: 0.25s ease-out;
    animation: animateTarget2 1s infinite;
}
/* Fin du jeu */
.fin{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  gap: 20px;
}
/* Boutons */
button{
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: green;
    border: 0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
/* Mediaqueries  */

@media screen and (max-width: 600px) {
    .container{
        width: 300px;
    }
    #target{
        height: 30px;
        width: 30px;
    }
    #badtarget{
        height: 30px;
        width: 30px;
    }
}
